body{
	background: darksalmon;
}

/*Filled Box*/
.fill{
	background-image: url('https://source.unsplash.com/random/150x150');
	position: relative;
	height: 150px;
	width: 150px;
	top: 5px;
	left: 5px;
	cursor: pointer;
}

.empty{
	display: inline-block;
	height: 160px; /*10px bigger than the fill to shadow the box*/
	width: 160px;
	margin: 10px;
	border: 3px salmon solid;
	background-color: white;
}

/*Drag and hold ability*/
.hold{
	border: solid #ccc 4px;
}

.hovered{
	/*Change the border from white to light grey*/
	background: #f4f4f4;
	border-style: dashed;
}

.invisible{
	display: none;
}
