*{
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

body{
	height: 100vh;
	display: flex;
	background: url("https://i.pinimg.com/originals/2c/00/8c/2c008cdf7c1a4bb5a99fb1570c1f13a0.jpg");
	transition: background 0.5s ease;
	position: relative;
}

/*Grab every element in the form and place it in the same position*/
.field-name,
.field-email,
.field-password,
.field-finish{
	position: absolute;
	top: 50%;
	left: 50%;
}
/*The reason we do not have position center is because the other elements will not show up*/

