.header{

	nav{
		padding: 1.065rem  1.5rem;
	}

	&__logo{

		img{
			width: 8.8125rem;
			height: 1.375rem;
		}
	}
	&__menu{
		> span{
			display: block;
			width: 26px;
			height: 2px;
			background-color: $darkBlue;

			&:not(:last-child){
				margin-bottom: 3px
			}
		}
	
	}
	&__links{

		a{
			position: relative;

			font-size: $font-sm;
			color: $grayishBlue;
			transition: color 300ms ease-in-out;
		
			&:not(:last-child){
				margin-right: 32px;
			}

			&::before{
				content: "";
				background: lime;
				display: block;
				height: 5px;
				position: absolute;
				left: 0;
				right: 0;
				bottom: -30px;
				background: linear-gradient(to right, $limeGreen, $brightCyan);
				opacity: 0;
				transition: opacity 300ms ease-in-out
			}



			&:hover{
				color: $darkBlue;

				&::before{
					opacity: 1;
				}
			}

				

		}
	}

	&__cta{
		font-size: $font-sm;
		color: $white;
		transition: opacity 300ms ease-in-out;

		&:hover{
			opacity: 0.75;
		}
	}
}
