*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
body{
	background: #efefef;
	font-family: sans-serif;
}
.profile-img{
	width:40%;
	float:right;/*Align image to the right*/
}
.profile-img img{
	width:100%;
	height:100%;
}
.about{
	margin-left: 15px;
}
.profile-info{
	width: 60%;
	height: 100vh;
	float: left;
	padding: 0 30px;
	overflow: scroll;
	overflow-x: hidden;
}
/*Hide the scrolling bar*/
.profile-info::-webkit-scrollbar{
	width:0;
}
.profile-info h1{
	margin-top: 50px;
	margin-bottom: 30px;
}
.social-media img{
	height: 30px;
}
.social-media{
	margin-top:20px;
	margin-left: 15px;
}
.profile-info h2{
	margin-top: 50px;
	margin-bottom:15px;
}
.expertise img{
	height: 5%;
	margin: 5px:
}
.expertise {
	display: inline-block;
	width: 28%:
.expertise {
	display: inline-block;
	width: 28%:
	margin: 2%;
	text-align: center;
	padding: 30px 10px;
	box-shadow: 0 0 15px 1px rgba(37,73,214,0.18);
	background:#fff;
}
.expertise small{
	padding-top: 10;
	display: block;
}
.project img{
	width:31%;
	padding: 4px;
	margin-bottom: 5px;
	margin-left: 5px;
}
.form-box{
	margin-top: 30px
}
.input-group input{
	width:45%;
	border: 0;
	margin: 2%;
	display: inline-block;
	background: #fff;
}

.text-area textarea{
	width:95%;
	border: 0;
	outline: none !important;
	padding: 10px;
	margin: 2%;
	background: #fff;
}
.submit-btn
{
	border:0;
	outline: none !important;
	padding: 10px 20px;
	margin: 2%;
	background: #2ab0ff;
	cursor: pointer;
	color: #fff;
}
.contact-img{
	width:20px;
	margin: -5px 10px;
}

.contact span{
	margin: 5%;
}

.contact {
	margin: 5% 0 5% 25%;
	width: 65%;
}
.cont{
	text-align: center;
	margin-bottom: 20px;
}
/*MAKING IT RESPONSIVE*/
@media only screen and (max-width:900px)
{
	.profile-info
	{
		width: 100%;
		overflow: inherit;
	}
	.profile-img{
		width:100%;
	}
	.expertise{
		width:95%;
		margin-bottom: 10%;
	}
	.expertise img{
		height:8%;
		margin: 10px 0;
	}
	.projects img{
		width:47%;
	}
	span{
		display: block;
	}
}	
